.card {
    min-height: 320px;
}
.c-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-center img{
    margin: 10px;
    border-radius: 5px;
}