body {
  margin: 0
}

.icon{
  width: 70px;
  height: 70px;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

.navBar {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar a {
  color: #686868;
  text-decoration: none;
}

.navBar a:hover {
  color: lightgrey;
  transition: all 0.3s
}

.navMainCont {
  display: flex;
  width: 100%;
  background: #333333;
  display: flex;
}

.navigation-buttons{
  margin-right: 20px;
}

.leftPart {
  display: flex;
  width: 50%;
}

.active-lang{
  color: silver !important;
}

h1 {
  color: gainsboro;
}

.active-language {
  color: silver !important;
}

.adaptive-menu{
  background-color: #686868;
  border-radius: 10px;
  margin-left: 5%
}

.adaptive-menu-link{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 971px) {
  .navMainCont {
    flex-direction: column;
  }

  .navBar {
    width: 100%;
    justify-content: center;
  }

  .leftPart {
    width: 100%;
    display: flex;
    justify-content: left;
  }
}

@media screen and (max-width: 500px) {
  .navMainCont {
    flex-direction: column;
  }

  .navBar {
    width: 100%;
    justify-content: center;
  }

  .leftPart {
    width: 100%;
    display: flex;
    justify-content: left;
  }

  .title {
    font-size: 24px;
  }
}

ul.language {
  list-style: none;
  margin-top: 15px;
}

ul.language li {
  display: inline;
  margin: 0 5px;
}

.MuiAvatar-root img {
  width: 40px;
  height: 40px;
}
