.developers-container{  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.developers-item{
  border-left: solid rebeccapurple 1px; 
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap; 
  margin-top:0.4rem;
  width: 20rem; 
}

.developers-img{
  width:5rem;
  margin: 1rem;
}

.developers-name{
  margin-top:1rem;
  text-decoration: underline;
}

.github-logo{
  background: url('../../images/developers/github.svg') no-repeat left top;
  background-size: 100%;
  display: inline-block;
  height: 1.2rem;  
  width: 1.2rem;
}

.github-link{
  color: #000000;
  font-weight: bolder;
  font-size: 1rem;
  margin-left: 0.5rem;
  text-decoration: none;
  transition: color 1s ease;
}

.github-link:hover{
  color: rebeccapurple;  
}

.team-section{
  border-top: solid rebeccapurple 1px;
}