.dayProducer {


  &_link {
    &__image {
      margin-right: 50px;
      transition-duration: .2s;
      height: 20vmax;
      width: 20vmax;
    }
  }

  &_bio {
    opacity: 0;
    margin: auto 0 auto 0;
    flex-wrap: wrap;
    text-align: left;
    font-size: small;
    transition: all 0.2s ease-in-out;
  }

}
.main-card {
  padding: 10px;
  margin-bottom: 20px;
}

.producer-of-the-day{
  font-weight: 700;
  font-size: 44px;
  margin-top: 0;
}
